src/main/mule/implementation/post-customer-State-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	
	<flow name="post-customer-state-implementation-Flow" doc:id="128d0ec1-bc52-4c6b-bc92-5692c1caee60" >
	<ee:transform doc:name="SFDC Request payload for Customer Registration" doc:id="ef0db97f-e2cc-4e40-99a9-547af1e5dd74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
[{
    "contactType__c": payload.customerStateRequest.contactTpe,
    "countryCode__c": payload.customerStateRequest.countrycode,
    "mobile__c": payload.customerStateRequest.mobile,
    "email__c": payload.customerStateRequest.email,
    "password__c": payload.customerStateRequest.password,
	"status__c" : payload.customerStateRequest.status
  }]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="SFDC Request Inititated " doc:id="6a3fff4e-b15b-454d-8f9b-cf35c747796e" message="#[%dw 2.0&#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: vars.requestTime_var,&#10;    transactionId: vars.headers.'x-cms-transactionId',&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer State&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState: &quot;SFDC REQUEST&quot; &#10;}]"/>
		<salesforce:create doc:name="Create" doc:id="05be8bc8-c9f0-4f3b-b243-afad264081d0" config-ref="Salesforce_Config" type="customerState__c"/>
		<logger level="INFO" doc:name="SFDC Response received " doc:id="a531ba6c-0370-46d6-84e7-65dde0c35393" message="#[%dw 2.0&#10;output application/json indent = false &#10;--- &#10;{ 	&#10;    TimeStamp: now(),&#10;    transactionId: vars.headers.'x-cms-transactionId',&#10;    AppName: app.name, 	&#10;    FlowName: flow.name, 	&#10;    BusinessProcessName:  &quot;Customer Registration&quot;, 	&#10;    Category:  &quot;Customer&quot;, 	&#10;    OriginatingApplication:  &quot;Process API&quot;, 	&#10;    DesinationApplication:  &quot;Salesforce&quot;, 	&#10;    CustomerId: &quot;NA&quot;, 	&#10;    txnState: &quot;SFDC RESPONSE&quot; &#10;}]"/>
		<ee:transform doc:name="SFDC Response payload for Customer Registration">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "customerStateResponse": {
    "eventInstanceId": vars.headers.'x-cms-transactionId',
    "status": "Success"
  }
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
	
	</flow>
</mule>
